.name,.age,.title,.money{
margin: 10 px; 
 background-color: aqua;
 margin: 5px;
width: 25%;
}

.Submit{
display:flex;
cursor:pointer;
justify-content: center;
border: black;
padding : 12px , 12px;
background-color:bisque;
width: 25%;
}
.Search{
    position: relative;
    display:flex;
    border:100px;
    padding: 10px, 10px;
    border-color: black;
}
.input{
    border: 100px;
    border-color: black;
 }

 .container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
 }